spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123123123
    url: jdbc:mysql://127.0.0.1:3306/test1?characterEncoding=utf-8&useSSL=false
eureka:
  client:
    service-url:
      defaultZone: http://localhost:1111/eureka/
  instance:
    prefer-ip-address: true
server:
  port: 1112
ribbon:
  ReadTimeout: 60000


feign.hystrix.enabled: false
tx-lcn:
  logger:
    enabled: true
    driver-class-name: ${spring.datasource.type}
    jdbc-url: ${spring.datasource.url}
    username: ${spring.datasource.username}
    password: ${spring.datasource.password}
logging:
  level:
    com.codingapi.txlcn: debug
